.wrap_danhsach , .ketqua {
    width: 350px;
}

.ketqua  {
    top: 65px;
}

.txt_ketqua {
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: CENTER;
}

.txt_ketqua  p {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.197273px;
    color: #C80504;
    margin-bottom: 35px;
}

.txt_ketqua .menhgia_lixi {
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.563636px;
    color: #FFFFFF;
}

.lichsu .may1 {
    top: 150px;
    z-index: 11;

}
.lichsu .may2 {
    top: 200px;
    bottom: inherit;
    z-index: 11;

}
.item {
    background: #D40606;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 12px 15px ;    
    margin-bottom: 7px;
    overflow: hidden;
    position: relative;
    
}

.item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(192.89deg, rgba(215, 30, 10, 0.0001) 1.34%, #FB674C 98.17%);
    opacity: 0.5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 9;
}

.item:after  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #D40606;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 8;
}

.item:last-child {
    margin-bottom: 80px;
}
.danhsach-lichsu {
    z-index: 10;
    position: fixed;
    top: 245px;
    height: 380px;
    overflow: auto;
    padding-bottom: 50px;
}

.image-user {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 100px;
    border: 2px solid #fff;
    position: relative;
    z-index: 10;
    width: 50px;
    margin-right: 15px;
    float: left;
}

.info-item {
    float: left;
    width: 75%;
    padding-top: 8px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.211364px;
    position: relative;
    z-index: 10;
    color: #FFFFFF;
    height: 40px;
    overflow: hidden;
}


@media (max-width: 360px) {
    .wrap_danhsach, .ketqua {
        width: 330px;
    }
}

@media (max-width: 320px) {
    .wrap_danhsach, .ketqua {
        width: 300px;
    }
    .info-item {
        width: 70%;
        font-size: 13px;
    }
}